/* body {
    background-color: #d0ffe2;
} */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-family: 'Noto Sans', sans-serif;
}

li {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
}
