.container {
  margin-top: 80px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-family: "Noto Sans", sans-serif;
}

li {
  font-family: "Noto Serif", serif;
  font-size: 18px;
}

.h4-green-uppercase {
  color: #02a781;
  text-transform: uppercase;
  margin-left: 8px;
}

.h3-green-uppercase {
  color: #02a781;
  text-transform: uppercase;
  margin-left: 8px;
  text-align: center;
  margin-bottom: 40px;
}

.h3-green-uppercase-top {
  color: #02a781;
  text-transform: uppercase;
  margin-left: 8px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.candidates {
  margin-top: 30px;
}

hr.line {
  border-top: 1px solid #28a745;
}

.position-info {
  margin-top: 10px;
}

span.skill-badge.badge.badge-secondary {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border: 1px solid #05d48e;
  font-family: "Noto Sans", sans-serif;
  margin: 6px;
  padding: 6px;
  letter-spacing: 0.14em;
}

span.small-card-skill-badge.badge.badge-secondary {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border: 1px solid #05d48e;
  font-family: "Noto Sans", sans-serif;
  margin: 3px;
  padding: 4px;
  letter-spacing: 0.14em;
}

.save-button {
  text-align: center;
}
