nav.navbar {
	position: fixed;
	z-index: 999; /* stays in place 'till Erkki sets z-index 1k */
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255);
    height: 70px;
    /* margin-bottom: 50px; */ /* does nothing */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-logo {
	margin-left: 1rem;	
}

.navbar-logo a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 2rem;
}

.navbar-logo {
	display: flex;
	align-items: center;
}

.navbar-logo .img {
	padding: 7px 14px;
}

.spacer {
	flex-grow: 50;
}

.NavItem {
    display: flex;
	height: 100%;
	align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

  li.nav-item {
    padding: 0 1.5rem;
}

  a.nav-link {
    text-transform: uppercase;
    color: #047364;
}

  .navbar-toggler {
    padding: .25rem .75rem;
}