nav.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.NavItem {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

a.nav-link {
  text-transform: uppercase;
  color: #047364;
}

@media (max-width: 767px) {
  .navbar-collapse {
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255) 13%,
      rgb(234, 255, 238) 51%,
      rgb(255, 255, 255) 84%,
      rgb(255, 255, 255, 0) 120%
    );
  }
}

@media (min-width: 1100px) {
  li.nav-item {
    padding: 0 1.5rem;
  }
}
