.two-logos.col-12.col-sm-4.col-lg-4 {
    
    background-color: #d0ffe2;
    border-radius: 79px 0px 79px 0px;
    -moz-border-radius: 79px 0px 79px 0px;
    -webkit-border-radius: 79px 0px 79px 0px;

    margin-bottom: 10px;
    
   

}