.logo-area.col-12.col-sm-4.col-lg-4 {
  border: 1px solid #30ea787d;
  border-radius: 79px 0px 79px 0px;
  -moz-border-radius: 79px 0px 79px 0px;
  -webkit-border-radius: 79px 0px 79px 0px;
  margin-bottom: 10px;
}
