.card-body {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100px 0px 100px 0px;
  -moz-border-radius: 100px 0px 100px 0px;
  -webkit-border-radius: 100px 0px 100px 0px;
  border: 4px double rgb(57, 221, 165);
  -webkit-box-shadow: 16px 22px 56px -28px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 16px 22px 56px -28px rgba(0, 0, 0, 0.32);
  box-shadow: 16px 22px 56px -28px rgba(0, 0, 0, 0.32);
}
.card {
  border: none;
}

img.small-card-img.card-img {
  width: 80%;
  margin-left: 0px;
  margin-top: 0px;
}

.skills-matched.col {
  margin-top: 10px;
  font-size: 18px;
}
